@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-color: #bbc8ca;
    --sec-bg-color: #c7ffed;
    --hover-color: #b592a0;
    --link-color: #fafafa;
    --main-font: "Montserrat";
    --second-font: "Antic Dicone";
}

body {
    font-family: var(--main-font, sans-serif);
}

a {
    text-decoration: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--nav-bg-color, teal);
    color: var(--link-color, #fff);
}

.nav-links a {
    color: var(--link-color, #fff);
    text-decoration: none;
}

/* LOGO */

.logo {
    font-size: 32px;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    z-index: 20;
}

.menu li:hover,
.footer li:hover,
.sub-footer li:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.footer li,
.sub-footer li {
    padding: 5px;
    list-style: none;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */

.check {
    display: none;
}

/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* HOME PAGE */

.img-home-bg {
    width: 100%;
    height: 100%;
}

.main-banner {
    position: relative;
    font-size: 0;
}

.main-text {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 50px;
    font-family: var(--second-font, sans-serif);
    font-weight: 500;
}

.welcome {
    text-align: center;
    display: flex;
    padding-bottom: 10px;
}

.welcome-text {
    padding: 50px 15% 20px 20%;
    line-height: 30px;
}

.welcome-text h1 {
    text-align: center;
    line-height: 40px;
}

.welcome-text h4 {
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
}

.img-welcome {
    width: 30%;
    height: 50%;
    padding: 50px;
}

.hi {
    text-align: center;
    display: flex;
    padding-bottom: 10px;
}

.hi-text h1 {
    text-align: center;
}

.hi-text h3 {
    text-align: justify;
    padding: 20px 50px 20px 50px;
    line-height: 30px;
    font-weight: 900;
}
.hi img {
    width: 40%;
    height: 50%;
}

.value {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.img-value {
    width: 100%;
}

.div-btn-me {
    padding-bottom: 10px;
}
.div-btn-me button {
    cursor: pointer;
}

.experties {
    text-align: center;
    background-color: rgb(255, 158, 158);
}

.experties h1 {
    padding: 40px 0 40px 0;
    font-size: 32px;
}

.experties-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.modalOpen img {
    width: 15%;
}

.experties-icons p {
    font-weight: 700;
    padding-top: 2px;
}

.experties-icons div {
    padding-bottom: 20px;
    cursor: pointer;
}

/* MODAL FOR EXPERTIES SECTION */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 450px;
}

.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* THERAPIES SECTION */

.therapies-text {
    text-align: center;
    padding: 20px 0 40px;
}

.therapies-text h1 {
    font-size: 32px;
}

.therapies-text p,
.therapies-text h1 {
    padding-top: 20px;
}

.therapy-type {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(226, 186, 186);
}

.therapy-type figure {
    position: relative;
    text-align: center;
}

.therapy-type figure figcaption {
    position: absolute;
    z-index: 20;
    color: #fafafa;
    font-weight: 500;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 10px;
}

.therapy-type figure img {
    width: 100%;

    filter: brightness(50%);
}

.cbt,
.act,
.cft,
.dit,
.emdr {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.cbt img,
.act img,
.cft img,
.dit img,
.emdr img {
    flex: 1;
    width: 100%;
}

/* SERVICES SECTION */

.services h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
}

.services p {
    padding: 0 20px 20px 20px;
}

.services-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.services-cards h3 {
    padding: 10px 0;
}

.services img {
    width: 40%;
    border-radius: 50%;
}

.services a {
    color: #000;
}

.btn-services {
    font-family: var(--main-font, sans-serif);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid;
    padding: 4px;
    cursor: pointer;
}

/* .btn-individual {
    padding-bottom: 20px;
} */

/* TESTIMONIAL CAROUSEL */

.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial h1 {
    font-size: 32px;
}

.mySlides {
    display: none;
}

.testimonial-container {
    overflow: hidden;
    text-align: center;
    height: 200px;
    line-height: 30px;
    margin: 0 5% 0 5%;
    padding: 3% 5% 5% 5%;
    box-shadow: 1px 10px 8px 8px rgba(0, 0, 0, 0.3);
    font-family: var(--first-font, sans-serif);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.testimonial h1 {
    text-align: center;
    padding: 2% 0 2% 0;
}
.div-dots {
    text-align: center;
    padding: 10px 0 20px 0;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* ABOUT PAGE */

.about-banner {
    display: flex;
    background-image: url(/assets/images/background_about_me.jpg);
    background-repeat: no-repeat;
}

.about-content-text h1 {
    text-align: center;
}

.about-content-text {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
}

.about-content-text h1 {
    padding-top: 50px;
    text-align: justify;
}

.about-banner h3 {
    padding-top: 5%;
    padding-right: 35%;

    line-height: 30px;
    text-align: justify;
    font-weight: 500;
}

.about-img-div {
    padding-right: 15%;
    padding-bottom: 40px;
}

.about-img {
    max-height: 500px;
    margin-top: 50px;
}

.approach {
    display: flex;
    justify-content: space-evenly;
    background-color: #b592a0;
}
.approach h2 {
    text-align: center;
}

.quote {
    line-height: 35px;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: min-content;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-container {
    padding: 2px 16px;
    width: 250px;
}

.my-approach {
    display: flex;
    flex-direction: column;
    position: relative;
}

.my-approach h2 {
    padding-top: 20px;
}

.my-approach-text {
    display: flex;
}

.my-approach-text p {
    text-align: justify;
    padding: 20px 80px 20px 80px;
    line-height: 30px;
    white-space: normal;
    overflow: hidden;
}

.qualif li {
    list-style-type: disc;
}

.qualification-list h3,
.memberships h3 {
    text-align: left;
}

.qualification-list li,
.memberships li {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-weight: 500;
    text-align: left;
}

.my-experience,
.qualification {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px 70px 20px 70px;
}

.my-experience-text p,
.my-qualification-text p {
    text-align: justify;
    padding: 20px 0 20px 20px;
    font-weight: 500;
}

.my-experience h2,
.qualification h2 {
    text-align: center;
}

/* CONTACT PAGE */

.main-title {
    text-align: center;
}

.main-contact {
    background-color: var(--sec-bg-color);
    height: 1200px;
}

.form-container {
    width: 100%;
    align-content: center;
}

.form-booking {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.name-input,
.emailbox,
.messagebox,
.phone,
.over18,
.question-form,
.button {
    width: 50%;
    margin: 20px;
    font-family: var(--main-font, sans-serif);
}

select,
.btn-submit,
.btn-about-me {
    font-family: var(--main-font, sans-serif);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid;
    padding: 4px;
}

.cont {
    display: flex;
    height: 60%;
    margin-top: 20px;
}

#map {
    height: 50%;
    width: 50%;
}

.map-div {
    margin-left: 15%;
}

.contact-info {
    text-align: left;
    height: 100%;
    padding-left: 50px;
    padding-top: 50px;
}

.contact-info li {
    list-style-type: none;
}

.list-item {
    padding-top: 15px;
    text-align: center;
}

.list-item .list-text {
    font-weight: bold;
}

.fa-solid {
    margin-right: 10px;
}

/*FOOTER*/

.footer,
.sub-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--nav-bg-color, teal);
    color: var(--link-color, #fff);
    gap: 1em;
}

.logos-footer {
    text-align: center;

    background-color: var(--nav-bg-color, teal);
    color: var(--link-color, #fff);
    gap: 1em;
}

.link-footer ul {
    display: flex;
}

.link-footer li,
.logos-footer li {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.hcpc {
    width: 70px;
}

.bps {
    width: 200px;
    height: 71.47px;
}

.step {
    background-image: url(/assets/images/next_step.jpg);
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20%;
}

.step p {
    padding-top: 20px;
    font-weight: 600;
    line-height: 25px;
}

.step-btn {
    padding-top: 20px;
}

.step button {
    max-width: fit-content;
}

.step-text {
    padding-top: 150px;
}

/*MEDIA QUERIES */

@media (max-width: 1800px) {
}

@media (max-width: 1650px) {
    .main-text {
        font-size: 32px;
    }
}

@media (max-width: 1256px) {
}

@media (max-width: 1200px) {
    .welcome-text {
        padding-top: 3%;
        padding-right: 5%;
    }
}

@media (max-width: 979px) {
    select {
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .main-text {
        left: 5%;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: var(--nav-bg-color, teal);
        right: 0px;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        background-color: var(--hover-color);
        border-radius: 5px;
        transition: 0.3s ease;
    }

    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .main-text,
    .welcome-text h1,
    .hi-text h1,
    .experties h1,
    .therapies-text h1,
    .services h1,
    .testimonial h1 {
        font-size: 24px;
    }

    .welcome-text h4,
    .hi-text h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .hi-text h1 {
        padding-top: 15px;
        font-size: 24px;
    }

    .hi-text h3 {
        padding-top: 15px;
        padding-bottom: 15px;

        line-height: normal;
        font-weight: 500;
    }

    .welcome-text {
        padding: 35px;
    }

    .welcome-text h1 {
        line-height: normal;
        padding-bottom: 5px;
    }

    .welcome-text h4 {
        line-height: normal;
        font-weight: 500;
    }

    .img-welcome {
        display: none;
    }

    .therapy-type figure figcaption {
        font-size: 14px;
    }

    .about-img-div {
        padding: 20px;
    }
    .about-content-text,
    .about-content-text h3,
    .about-content-text h1 {
        padding: 10px;
    }

    .about-content-text h3 {
        font-size: 16px;
    }

    .about-img {
        margin-top: 0;
    }

    .content_2 p {
        font-size: 16px;
    }
    .testimonial-container {
        height: auto;
    }
}

@media (max-width: 700px) {
    .welcome {
        display: block;
        padding-bottom: 10px;
    }

    .about-banner {
        flex-direction: column;
    }
    .about-banner h1 {
        text-align: center;
    }

    .about-banner h3 {
        padding: 0 80px 0 80px;
    }
    .about-content-text {
        margin-left: 0;
    }

    .about-img-div {
        text-align: center;
        padding-bottom: 15px;
    }

    .approach {
        flex-direction: column;
        text-align: center;
    }

    .card {
        display: none;
    }
}

@media (max-width: 604px) {
    .main-text {
        font-size: 16px;
    }

    .experties-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .therapy-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .emdr {
        left: 50%;
    }

    .hi {
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .hi img {
        width: 100%;
    }
}

@media (max-width: 504px) {
    .gm-control-active,
    .gm-fullscreen-control {
        display: none;
    }

    .main-text {
        font-size: 15px;
    }

    .welcome-text h1,
    .hi-text h1 {
        font-size: 22px;
    }
    .welcome-text h3,
    .hi-text h3 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
    }

    .about-content-text h3,
    .approach {
        font-size: 15px;
    }

    .step {
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 449px) {
    .item-sb {
        font-size: 12px;
    }

    .sub-footer li {
        padding: 0px;
    }

    .infowindow {
        font-size: 10px;
    }

    #map {
        height: 35%;
        margin-top: 20px;
    }

    .map-div {
        margin-left: 25%;
    }

    .cont {
        flex-direction: column;
    }

    .contact-info {
        padding-left: 0;
        padding-top: 50px;
    }
}

@media (max-width: 375px) {
    .services-cards {
        flex-direction: column;
    }

    .btn-individual,
    .btn-online,
    .btn-supervision {
        padding-bottom: 25px;
    }

    .services p {
        padding-bottom: 10px;
    }
}

@media (max-width: 332px) {
    .item-sb {
        font-size: 11px;
    }

    .main-text {
        top: 25px;
        left: 30px;
        font-family: Anti;
    }

    .experties-icons {
        display: grid;
        grid-template-columns: 1fr;
    }

    .therapy-type {
        display: grid;
        grid-template-columns: 1fr;
    }

    .emdr {
        left: 0;
    }
}
