@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-color: #fafafa;
    --main-font: "Montserrat";
    --second-font: "Antic Dicone";

    /* hover */
    --p1-3-color: #ada2ac;

    /* background about me */
    --p1-about-color: #ada2ac2d;
    --p1-4-color: #b3b497;

    /* background experties, my approach */
    --p2-4-color: #9ab0a5;
    --contact-color: #dccdd1;

    /* nav btns */
    --p3-4-color: #cad3cf;
}

h1 {
    font-size: 32px;
}

body {
    font-family: var(--main-font, sans-serif);
}

a {
    text-decoration: none;
}

button {
    background-color: var(--p3-4-color);
}

/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--p3-4-color, teal);
    color: var(--link-color, #fff);
}

.nav-links a {
    color: var(--link-color, #fff);
    text-decoration: none;
}

/* LOGO */

.logo {
    width: 60%;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    z-index: 20;
}

.menu li:hover,
.footer li:hover,
.sub-footer li:hover {
    background-color: var(--p1-3-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    list-style: none;
}

.footer li,
.sub-footer li {
    padding: 5px;
    list-style: none;
}

/* DROP DOWN FOR THERAPIES */
.drop-icon {
    display: flex;
}

.drop-icon i {
    padding-left: 5px;
    padding-top: 3px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.4);
    z-index: 1;
    background-color: var(--p3-4-color);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: var(--link-color);
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: var(--link-color);
    background-color: var(--p1-3-color);
}

.btn-dropDown {
    border: none;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */

.check {
    display: none;
}

/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* HOME PAGE */

.img-home-bg {
    width: 100%;
    height: 100%;
}

.main-banner {
    position: relative;
    font-size: 0;
}

.main-text {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 50px;
    font-family: var(--second-font, sans-serif);
    font-weight: 500;
    animation: 1.5s slide-right;
}

.welcome {
    text-align: center;
    display: flex;
    padding-bottom: 10px;
}

.welcome-text {
    padding: 100px 5% 20px 10%;
    line-height: 30px;
}

.welcome-text h1 {
    text-align: center;
    line-height: 40px;
    animation: 1.5s slide-left;
}

.welcome-text h4 {
    text-align: justify;
    line-height: 30px;
    padding-top: 10px;
}

.img-welcome {
    width: 40%;
    padding: 50px;
    margin-left: 100px;
}

.hi {
    text-align: center;
    display: flex;
    padding-bottom: 10px;
}

.hi-text h1 {
    text-align: center;
}

.hi-text h4 {
    text-align: justify;
    padding: 20px 200px 20px 150px;
    line-height: 30px;
    font-weight: 900;
    font-size: 16px;
}
.hi img {
    width: 40%;
    height: 50%;

    padding-right: 30px;
    padding-bottom: 30px;
}

.value {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.img-value {
    width: 100%;
}

.div-btn-me {
    padding-bottom: 10px;
}
.div-btn-me button {
    cursor: pointer;
}

.experties {
    text-align: center;
    background-color: var(--p2-4-color);
}

.experties h1 {
    padding: 40px 0 40px 0;
}

.experties-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.modalOpen img {
    width: 15%;
}

.modal-text p {
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}

.experties-icons p {
    font-weight: 700;
    padding-top: 2px;
}

.experties-icons div {
    padding-bottom: 20px;
    cursor: pointer;
}

/* MODAL FOR EXPERTIES SECTION */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 450px;
}

.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* THERAPIES SECTION */

.therapies-text {
    text-align: center;
    padding: 20px 0 40px;
}

.therapies-text p,
.therapies-text h1 {
    padding-top: 20px;
}

.therapy-type {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #ada2ac;
}

.therapy-type figure {
    position: relative;
    text-align: center;
}

.therapy-type figure figcaption {
    position: absolute;
    z-index: 20;
    color: #fafafa;
    font-weight: 500;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 10px;
}

.therapy-type figure img {
    width: 100%;
    filter: brightness(50%);
}

.cbt,
.act,
.cft,
.dit,
.emdr {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.cbt img,
.act img,
.cft img,
.dit img,
.emdr img {
    flex: 1;
    width: 100%;
}

/* SERVICES SECTION */

.services h1 {
    text-align: center;
    padding: 20px 0;
}

.services p {
    padding: 0 20px 20px 20px;
}

.services-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* align-items: flex-start; */
}

.service-items {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.services-cards h3 {
    padding: 10px 0;
}

.online img,
.supervision img,
.individual img {
    max-width: 40%;
    border-radius: 50%;
}

.services a {
    color: #000;
}

.btn-services {
    font-family: var(--main-font, sans-serif);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid;
    padding: 4px;
    cursor: pointer;
}

/* TESTIMONIAL CAROUSEL */

.testimonial {
    display: flex;
    flex-direction: column;
}

.mySlides {
    display: none;
}

.testimonial-container {
    overflow: hidden;
    text-align: center;
    height: 200px;
    line-height: 30px;
    margin: 0 5% 0 5%;
    padding: 3% 5% 5% 5%;
    box-shadow: 1px 10px 8px 8px rgba(0, 0, 0, 0.3);
    font-family: var(--first-font, sans-serif);
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.testimonial h1 {
    text-align: center;
    padding: 2% 0 2% 0;
}
.div-dots {
    text-align: center;
    padding: 10px 0 20px 0;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
}

.dot-active {
    background-color: rgb(109, 109, 109);
}

/* ABOUT PAGE */

.about-banner {
    display: flex;
    background-color: var(--p1-about-color);
    /* background-image: url(/assets/images/background_about_me.jpg); */
    background-repeat: no-repeat;
}

.about-content-text h1 {
    text-align: center;
}

.about-content-text {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
}

.about-content-text h1 {
    padding-top: 50px;
    text-align: justify;
    animation: 1.5s fade-left;
}

.about-banner h3 {
    padding-top: 5%;
    padding-right: 35%;

    line-height: 30px;
    text-align: justify;
    font-weight: 500;
}

.about-img-div {
    padding-right: 15%;
    padding-bottom: 40px;
}

.about-img {
    max-height: 500px;
    margin-top: 50px;
    animation: 1.5s fade-right;
}

.approach {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--p2-4-color);
    animation: 1.5s fade-bottom;
}
.approach h2 {
    text-align: center;
}

.quote {
    line-height: 35px;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: min-content;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-container {
    padding: 2px 16px;
    width: 250px;
}

.my-approach {
    display: flex;
    flex-direction: column;
    position: relative;
}

.my-approach h2 {
    padding-top: 20px;
}

.my-approach-text {
    display: flex;
}

.my-approach-text p {
    text-align: justify;
    padding: 20px 80px 20px 80px;
    line-height: 30px;
    white-space: normal;
    overflow: hidden;
}

.qualif li {
    list-style-type: disc;
}

.qualification-list h3,
.memberships h3 {
    text-align: left;
}

.qualification-list li,
.memberships li {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    font-weight: 500;
    text-align: left;
}

.my-experience,
.qualification {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px 70px 20px 70px;
}

.my-experience-text p,
.my-qualification-text p {
    text-align: justify;
    padding: 20px 0 20px 20px;
    font-weight: 500;
}

.my-experience h2,
.qualification h2 {
    text-align: center;
}

/* FAQ */

.faq-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.faq-container h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 42px;
    animation: 1s fade-left ease-in;
}
.faq-img {
    width: 100%;
}

.faq-description {
    text-align: justify;
    padding: 20px 150px 40px 150px;
    animation: 1s fade-bottom;
}

.faq-description h4 {
    padding: 20px 0 10px 0;
}

.div-btn-faq {
    padding: 10px 0 10px 0;
}

/* CONTACT PAGE */

.contact-title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 32px;
    color: var(--link-color);
    animation: 1s fade-left;
}

.main-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--contact-color);
}

.contact-banner {
    width: 100%;
}

.label-contact {
    width: 50%;
    font-family: var(--main-font, sans-serif);
    font-weight: 500;
}

.form-container {
    width: 100%;
    align-content: center;
    animation: 1s fade-right;
}

.form-container h2 {
    text-align: center;
    padding: 40px 0 20px 0;
}

.form-booking {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.name-input,
.emailbox,
.messagebox,
.phone,
.over18,
.question-form,
.button {
    width: 50%;
    margin: 20px;
    font-family: var(--main-font, sans-serif);
}

select,
.btn-submit,
.btn-about-me,
.btn-faq {
    font-family: var(--main-font, sans-serif);
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid;
    padding: 4px;
}

.cont {
    display: flex;
    margin: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: var(--p2-4-color);
}

#map {
    width: 50%;
    margin-left: 15%;
}

.contact-info {
    display: flex;
    text-align: left;
    padding: 50px 20px 50px 50px;
}

.contact-info li {
    list-style-type: none;
}

.list-item {
    padding-top: 15px;
    text-align: center;
}

.list-item .list-text {
    font-weight: bold;
}

.fa-solid {
    margin-right: 10px;
}

/* THERAPIES PAGE */
/* FAQ PAGE */
/* CONSULATION PAGE */

.cbt-container,
.act-container,
.cft-container,
.dit-container,
.emdr-container,
.online-container,
.consultation-container,
.supervision-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.supervision-container h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 1s fade-left ease-in;
    color: var(--link-color);
}

.cbt-container h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 1s fade-left ease-in;
}

.act-container h1,
.dit-container h1 {
    position: absolute;
    top: 10%;
    right: 10%;
    color: var(--link-color);
    animation: 1s fade-right ease-in;
}

.cft-container h1,
.online-container h1,
.consultation-title {
    position: absolute;
    top: 10%;
    right: 10%;
    animation: 1s fade-right ease-in;
}

.emdr-title2 {
    display: none;
}

.emdr-title1 {
    position: absolute;
    top: 10%;
    right: 5%;
    animation: 1s fade-right ease-in;
}

.cbt-description,
.act-description,
.cft-description,
.dit-description,
.emdr-description,
.online-description,
.consultation-description,
.supervision-description {
    text-align: justify;
    padding: 20px 150px 40px 150px;
    animation: 1s fade-bottom;
}

.cbt-description h4,
.act-description h4,
.cft-description h4,
.dit-description h4,
.emdr-description h4,
.online-description h4,
.consultation-description p {
    padding: 20px 0 10px 0;
}

.act-img,
.cft-img,
.cbt-img,
.dit-img,
.emdr-img,
.online-img,
.consultation-img,
.supervision-img {
    width: 100%;
}

.online-list {
    padding-left: 50px;
}

.supervision-btn {
    padding-top: 20px;
}

.btn-services.consultation {
    width: fit-content;
}

/* TERMS PAGE
PRIVACY PAGE */

.term-container,
.privacy-container {
    display: flex;
    flex-direction: column;
}

.term-title,
.privacy-title {
    text-align: center;
    padding: 40px 0 20px 0;
}

.term-warning {
    text-align: center;
    padding: 20px 0 20px 0;
}

.term-content,
.privacy-content {
    text-align: justify;
    padding: 20px 150px 40px 150px;
}

.term-content h4,
.privacy-content h4 {
    padding: 20px 0 20px 0;
}

/*FOOTER*/

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--p3-4-color);
    color: var(--link-color, #fff);
    gap: 1em;
}

.sub-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--p3-4-color);
    color: var(--link-color, #fff);
    gap: 1em;
}
.logos-footer {
    text-align: center;

    background-color: var(--p3-4-color);
    color: var(--link-color, #fff);
    gap: 1em;
}

.link-footer ul {
    display: flex;
}

.link-footer li,
.logos-footer li {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.hcpc {
    width: 70px;
}

.bps {
    width: 200px;
    height: 71.47px;
}

.step {
    background-image: url("../images/next_step.jpg");
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20%;
}

.step p {
    padding-top: 20px;
    font-weight: 600;
    line-height: 25px;
}

.step-btn {
    padding-top: 20px;
}

.step button {
    max-width: fit-content;
}

.step-text {
    padding-top: 150px;
}

/*MEDIA QUERIES */

@media (max-width: 1200px) {
    .welcome-text {
        padding-top: 3%;
        padding-right: 5%;
    }
    .hi-text h4 {
        padding: 20px 100px 20px 100px;
    }
}

@media (max-width: 979px) {
    select {
        margin-top: 5px;
    }

    .hi-text h4 {
        padding: 20px 40px 20px 40px;
    }
}

@media (max-width: 768px) {
    .main-text {
        left: 5%;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: var(--p3-4-color);
        right: 0px;
        text-align: center;
        padding: 16px 0;
    }

    .dropdown-content {
        padding-top: 10px;
    }

    .menu li:hover {
        background-color: var(--hover-color);
        border-radius: 5px;
        transition: 0.3s ease;
    }

    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .main-text,
    .welcome-text h1,
    .hi-text h1,
    .experties h1,
    .therapies-text h1,
    .services h1,
    .testimonial h1,
    .cbt-container h1,
    .act-container h1,
    .cft-container h1,
    .dit-container h1,
    .emdr-title1,
    .emdr-title2,
    .online-container h1,
    .faq-container h1,
    .contact-title,
    .consultation-title,
    .supervision-container h1 {
        font-size: 24px;
    }

    .welcome-text h4,
    .hi-text h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .hi-text h1 {
        padding-top: 15px;
        font-size: 24px;
    }

    .hi-text h4 {
        padding-top: 15px;
        padding-bottom: 15px;

        line-height: normal;
        font-weight: 500;
    }

    .hi img {
        padding-right: 0;
        padding-bottom: 0;
    }

    .welcome-text {
        padding: 35px;
    }

    .welcome-text h1 {
        line-height: normal;
        padding-bottom: 5px;
    }

    .welcome-text h4 {
        line-height: normal;
        font-weight: 500;
    }

    .img-welcome {
        display: none;
    }

    .therapy-type figure figcaption {
        font-size: 14px;
    }

    .about-img-div {
        padding: 20px;
    }
    .about-content-text,
    .about-content-text h3,
    .about-content-text h1 {
        padding: 10px;
    }

    .about-content-text h3 {
        font-size: 16px;
    }

    .about-img {
        margin-top: 0;
    }

    .content_2 p {
        font-size: 16px;
    }
    .testimonial-container {
        height: auto;
    }

    .cbt-container h1,
    .faq-container h1,
    .contact-title {
        top: 6%;
        left: 10%;
    }

    .act-container h1,
    .cft-container h1,
    .dit-container h1,
    .online-container h1,
    .consultation-title {
        top: 6%;
        right: 10%;
    }

    .emdr-title1 {
        top: 5%;
        right: 5%;
    }

    .cbt-description,
    .act-description,
    .cft-description,
    .dit-description,
    .emdr-description,
    .online-description,
    .faq-description,
    .term-content,
    .privacy-content,
    .consultation-description,
    .supervision-description {
        padding: 20px 100px 40px 100px;
    }

    .gmnoprint {
        display: none;
    }
}

@media (max-width: 700px) {
    .welcome {
        display: block;
        padding-bottom: 10px;
    }

    .about-banner {
        flex-direction: column;
    }
    .about-banner h1 {
        text-align: center;
    }

    .about-banner h3 {
        padding: 0 80px 0 80px;
    }
    .about-content-text {
        margin-left: 0;
    }

    .about-img-div {
        text-align: center;
        padding: 0 0 15px 0;
    }

    .approach {
        flex-direction: column;
        text-align: center;
    }

    .card {
        display: none;
    }
    .emdr-container h1 {
        right: 5%;
    }
}

@media (max-width: 604px) {
    .main-text {
        font-size: 16px;
    }

    .experties-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .therapy-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .emdr {
        left: 50%;
    }

    .hi {
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .hi img {
        width: 100%;
    }

    .cbt-container h1,
    .supervision-container h1 {
        top: 4%;
        left: 10%;
    }

    .act-container h1,
    .cft-container h1,
    .dit-container h1,
    .online-container h1,
    .faq-container h1,
    .contact-title,
    .consultation-title,
    .supervision-container h1 {
        top: 4%;
        right: 10%;
    }

    .emdr-title1 {
        display: none;
    }

    .emdr-title2 {
        display: inline;
        text-align: center;
        padding: 20px 10px 20px 10px;
    }

    .cbt-description,
    .act-description,
    .cft-description,
    .dit-description,
    .emdr-description,
    .online-description,
    .faq-description,
    .term-content,
    .privacy-content,
    .consultation-description,
    .supervision-description {
        padding: 20px 80px 40px 80px;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0);
    }

    .modalContent {
        display: none;
    }

    .cont {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    #map {
        width: 100%;
        height: 250px;
        margin-left: 0;
    }

    .contact-info {
        display: inline;
        padding: 50px 20px 50px 20px;
    }
}

@media (max-width: 504px) {
    .gm-control-active,
    .gm-fullscreen-control {
        display: none;
    }

    .main-text {
        font-size: 15px;
    }

    .welcome-text h1,
    .hi-text h1,
    .cbt-container h1,
    .act-container h1,
    .cft-container h1,
    .dit-container h1,
    .emdr-container h1,
    .online-container h1,
    .faq-container h1,
    .contact-title,
    .consultation-title,
    .supervision-container h1 {
        font-size: 22px;
    }
    .welcome-text h3,
    .hi-text h4 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 15px;
    }

    .about-content-text h3,
    .approach {
        font-size: 15px;
    }

    .step {
        text-align: center;
        padding-left: 0;
    }

    .services-cards {
        flex-direction: column;
    }
}

@media (max-width: 449px) {
    .item-sb {
        font-size: 12px;
    }

    .sub-footer li {
        padding: 0px;
    }

    .infowindow {
        font-size: 10px;
    }

    .cbt-container h1 {
        top: 2%;
        left: 10%;
    }

    .act-container h1,
    .cft-container h1,
    .dit-container h1,
    .emdr-container h1,
    .online-container h1,
    .faq-container h1,
    .contact-title,
    .consultation-title {
        top: 2%;
        right: 3%;
    }

    .cbt-description,
    .act-description,
    .cft-description,
    .dit-description,
    .emdr-description,
    .online-description,
    .faq-description,
    .term-content,
    .privacy-content,
    .consultation-description,
    .supervision-description {
        padding: 20px 50px 40px 50px;
    }
}

@media (max-width: 375px) {
    .btn-individual,
    .btn-online,
    .btn-supervision {
        padding-bottom: 25px;
    }

    .services p {
        padding-bottom: 10px;
    }
}

@media (max-width: 332px) {
    .item-sb {
        font-size: 11px;
    }

    .main-text {
        top: 25px;
        left: 30px;
        font-family: Anti;
    }

    .experties-icons {
        display: grid;
        grid-template-columns: 1fr;
    }

    .therapy-type {
        display: grid;
        grid-template-columns: 1fr;
    }

    .emdr {
        left: 0;
    }

    .act-container h1,
    .cft-container h1,
    .emdr-container h1,
    .online-container h1,
    .contact-title,
    .consultation-title,
    .supervision-container h1 {
        font-size: 18px;
    }

    .faq-container h1 {
        font-size: 18px;
        top: 1%;
    }
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.reveal {
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}

/* KEY FRAMES */

@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes slide-left {
    from {
        margin-left: 200%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
